:host {

  ion-text {
    display: block;
    padding: 8px 0;

    p {
      position: relative;
      display: inline-block;
      font-size: 18px;

      &.big {
        font-size: 26px;

        &::before {
          font-size: 16px;
        }

        &::after {
          font-size: 16px;
        }
      }

      &::before,
      &::after {
        content: '';
        color: var(--white);
        position: absolute;
        content: '';
      }

      &::before {
        font-size: 14px;
        left: 0;
        top: -12px;
      }

      &::after {
        font-size: 14px;
        right: 0;
        bottom: -12px;
      }
    }

    &.pt {
      p {
        &::before {
          content: 'Rua'
        }

        &::after {
          content: 'de Santos'
        }
      }
    }

    &.en {
      p {
        margin-top: -10px;

        &::before {
          content: '';
          display: none;
        }

        &::after {
          content: 'street of Santos'
        }
      }
    }

    &.es {
      p {
        &::before {
          content: 'Calle'
        }

        &::after {
          content: 'de Santos'
        }
      }
    }
  }
}
