ion-content.modal {
  --background: linear-gradient(to top, var(--gray-ed) 35%, var(--white));

  .modal-wrapper {
    width: 100%;
    height: 100%;
    padding: 32px 20px;
  }
}

ion-modal {
  &::part(content) {
    border-radius: 50px 50px 0 0;
  }
}

p {
  &.flag {
    display: flex;
    align-items: center;

    ion-img {
      width: 28px;
      margin: 0 16px 0 0;
    }
  }
}

ion-button {
  height: 48px;
}
