<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-modal
mode="ios"
[backdropDismiss]="false"
[handle]="false"
[handleBehavior]="'none'"
[initialBreakpoint]=".5"
[breakpoints]="[.5]"
[isOpen]="openModalLanguage">
  <ng-template>
    <ion-content class="modal">
      <section class="modal-wrapper">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text
              class="txt-center color-gray-text full-width icon-title-text"
              mode="ios">
                <ion-icon
                name="chatbubbles-outline"
                class="full-width fs-32 animate__animated animate__fadeInUp">
                </ion-icon>
              </ion-text>
            </ion-col>

            <ion-col size="12">
              <ion-text mode="ios" class="font-w-thin fs-16 color-gray-text line-height-22">
                <p class="mg-top-16">Identificamos que essa é a sua primeira vez por aqui por isso gostaríamos de reforçar que este conteúdo foi pensado para ajudar moradores <b>mas principalmente turistas</b>.</p>
              </ion-text>
            </ion-col>

            <ion-col size="12">
              <ion-button
              (click)="understood()"
              mode="md"
              class="rgs-main-solid full-width mg-top-16"
              fill="solid"
              shape="round"
              title="Entendi">
                Entendi
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </ion-content>
  </ng-template>
</ion-modal>
