<ion-content
#homeContent
[scrollEvents]="true"
mode="ios">
  <!-- HERO -->
  <section class="home-hero">
    <header class="home-header">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <div class="header-container">
              <div class="logo-container full-width animate__animated animate__fadeIn">
                <rgs-logo [size]="'big'" [currentLanguage]="currentLanguage"></rgs-logo>
              </div>

              <div class="language-container">
                <rgs-language-button [currentLanguage]="currentLanguage"></rgs-language-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </header>

    <div class="video-wrapper">
      <video src="./../../../../assets/movies/friends.mp4" [autoplay]="true"  [loop]="true" [muted]="true" playsinline class="ion-hide-lg-down"></video>
    </div>

    <div class="video-overbg"></div>

    <div class="banner-wrapper">
      <div class="banner-container">
        <ion-item
        (click)="helpUs()"
        [button]="true"
        class="ion-bg-transparent"
        lines="none"
        mode="ios">

        <ion-icon name="megaphone-outline" class="color-gray-c fs-32 mg-right-32"></ion-icon>

        <ion-text mode="ios">
          <p class="color-gray-c fs-14">{{ 'SHARED.ADVERTISE' | translate }}</p>
          <p class="description fs-18">{{ 'SHARED.YOUR_BRAND' | translate }}</p>
        </ion-text>
        </ion-item>
      </div>
    </div>
  </section>

  <section class="hero-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-text
          class="txt-left color-gray-text full-width icon-title-text without-icon d-block"
          mode="ios">
            <p class="fs-14 font-w-thin">
              {{ adress[currentLanguage.value] }}
            </p>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-text mode="ios" class="long-text">
            <p class="color-gray-text fs-14 font-w-thin">
              {{ 'INICIO_PAGE.PARAGRAPH_ONE.0' | translate }} <span class="font-w-semibold">{{ 'INICIO_PAGE.PARAGRAPH_ONE.1' | translate }}</span>.
            </p>

            <p class="color-gray-text fs-14 font-w-thin">
              {{ 'INICIO_PAGE.PARAGRAPH_TWO' | translate }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- CONTENT -->
  <section class="home-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" >
          <div class="view-n-filter-wrapper">
            <div class="looking-for-wrapper">

            </div>

            <div class="buttons-wrapper">
              <ion-button
              class="filters clear-gray"
              *ngFor="let button of orderButtons"
              [id]="'button-order'"
              [title]="button.text.pt"
              mode="ios"
              [ngClass]="{ 'to-turn' : button.value === 'as-slide'  }"
              fill="clear">
                <ion-icon slot="icon-only" [name]="button.icon + '-outline'"></ion-icon>
              </ion-button>

              <ion-popover trigger="button-order" triggerAction="click" id="order-by">
                <ng-template>
                  <ion-content>
                    <ion-item mode="ios" lines="none" class="item-from-popover">
                      <ion-text mode="ios">
                        <p class="fs-16 title">
                          {{ 'SHARED.NUMBER' | translate }}
                        </p>
                      </ion-text>
                    </ion-item>
                    <ion-item
                    *ngFor="let option of orderOptions"
                    [ngClass]="{ 'is-active' : option.value === selectedOrderOption }"
                    (click)="orderBy(option.value, false)"
                    mode="ios"
                    lines="none"
                    class="item-from-popover">
                      <ion-text mode="ios">
                        <p class="fs-14 desc">
                          {{ option.text[currentLanguage.value] }}
                        </p>
                      </ion-text>
                      <ion-icon name="checkmark-outline" slot="end" *ngIf="option.value === selectedOrderOption"></ion-icon>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-popover>

              <ion-button
              (click)="openFilterSelect()"
              class="filters clear-gray"
              *ngFor="let button of filterButtons"
              [title]="button.text.pt"
              mode="ios"
              [ngClass]="{ 'to-turn' : button.value === 'as-slide' }"
              fill="clear">
                <ion-icon slot="icon-only" [name]="button.icon + '-outline'"></ion-icon>

                <ion-select
                [okText]="'Filtrar'"
                #filterSelector
                [label]="'SHARED.FILTER' | translate"
                class="hide-element rgs-selector"
                (ionChange)="filterByCharacteristic($event)"
                [(ngModel)]="selectedFilter">
                  <ion-select-option
                  *ngFor="let filter of filters"
                  [value]="filter.value">
                    {{ filter.text[currentLanguage.value] }}
                  </ion-select-option>
                </ion-select>
              </ion-button>

              <div class="choose-view-wrapper">
                <ion-segment
                (ionChange)="segmentViewChanged(selectedView)"
                class="choose-view"
                [(ngModel)]="selectedView"
                value="default" mode="ios">
                  <ion-segment-button
                  *ngFor="let button of viewSegments"
                  [value]="button.value">
                    <ion-text mode="ios">
                      <p><ion-icon [name]="button.icon + '-outline'" [ngClass]="{ 'turn' : button.icon === 'albums' }"></ion-icon></p>
                    </ion-text>
                  </ion-segment-button>
                </ion-segment>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" class="no-pad-bottom no-pad-top">
          <ion-text mode="ios" class="line-height-18">
            <p class="fs-14 color-gray-text">{{ 'SHARED.LOOKING_FOR' | translate }}: <span class="fs-14 color-green font-w-semibold txt-lowercase">{{ activeFilter.text[currentLanguage.value] }}</span></p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- SLIDE -->
    <div class="inicio-swiper-wrapper" *ngIf="definitiveView === 'AS_SLIDE'">
      <swiper-container
      [init]="true"
      (swiperreachbeginning)="swiperReachedBeginning()"
      (swiperreachend)="swiperReachedEnd()"
      class="full-width swiper-w-relative-pagination"
      #establishmentsSwiper
      [freeMode]="true"
      [autoHeight]="false"
      slides-offset-before="16"
      slides-offset-after="16"
      initial-slide="0"
      [slidesPerView]="1"
      space-between="16"
      [breakpoints]="{
       '200' : {
          slidesPerView: 1.7
        },
        '363' : {
          slidesPerView: 1.9
        },
        '445' : {
          slidesPerView: 2.4
        },
        '667' : {
          slidesPerView: 3.4
        },
        '792' : {
          slidesPerView: 3.8
        },
        '991' : {
          slidesPerView: 4.5
        },
        '1200' : {
          slidesPerView: 5.2
        },
        '1300' : {
          slidesPerView: 6.7
        },
        '1600' : {
          slidesPerView: 8
        },
        '2000' : {
          slidesPerView: 10.3
        }
      }">
        <ng-container *ngIf="short_establishments && short_establishments.length > 0">
          <swiper-slide
          *ngFor="let establishment of short_establishments; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <ion-card
            [ngClass]="{ 'coming-soon': establishment.isBuilding }"
            mode="ios"
            class="establishment-card-vertical"
            lines="none">
              <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="establishment.isPremium"></ion-icon>

              <ion-card-content class="txt-center" mode="ios">
                <div class="logo-wrapper mg-bottom-12">
                  <div class="logo-container"
                  [ngClass]="{'has-image': !isLoadingLogo, 'logo-needs-gray-2' : establishment.value === 'galeteria-santista'}">
                    <ion-spinner name="lines-sharp-small" *ngIf="isLoadingLogo"></ion-spinner>

                    <ion-img
                    *ngIf="!isLoadingLogo"
                    (ionImgDidLoad)="imageHasLoaded()"
                    [src]="'./../../../../assets/images/establishments/' + establishment.value + (establishment.value === 'bistro-14' || establishment.value === 'galeteria-santista' || establishment.value === 'guadalupe' || establishment.value === 'vixe' || establishment.value === 'vila-tolentino' ? '.png' : '.jpg')">
                    </ion-img>
                  </div>
                </div>

                <ion-text mode="ios" class="txt-center">
                  <p class="color-gray-text txt-uppercase type font-w-thin type">
                    {{ establishment.mainType.text[currentLanguage.value] }}
                  </p>
                  <h2 class="color-gray-text font-baloo name"><b>{{ establishment.name }}</b></h2>
                  <p class="number color-gray-text">n&ordm; {{ establishment.adress.number }}</p>
                </ion-text>
              </ion-card-content>

              <ion-card-footer mode="ios">
                <ion-button
                *ngIf="!establishment.isBuilding"
                (click)="seeEstablishment(establishment, $event)"
                title="Ver detalhes"
                mode="md"
                class="full-width">
                  {{ 'SHARED.SEE_DETAILS.0' | translate }} <b class="mg-left-5">{{ 'SHARED.SEE_DETAILS.1' | translate }}</b> <ion-icon name="arrow-forward" class="mg-left-5"></ion-icon>
                </ion-button>

                <div class="coming-soon" *ngIf="establishment.isBuilding">
                  <ion-text mode="ios">
                    <p class="fs-14 d-block">{{ 'SHARED.COMING_SOON' | translate }}</p>
                  </ion-text>
                </div>
              </ion-card-footer>
            </ion-card>
          </swiper-slide>
        </ng-container>

        <ng-container *ngIf="!short_establishments">
          <swiper-slide
          *ngFor="let establishment of [1,2,3,4,5]; let i = index"
          class="unlock-shadow-from-swiper auto-width">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>

    <!-- LIST -->
    <ng-container *ngIf="definitiveView === 'AS_LIST'">
      <ion-grid [fixed]="true" *ngIf="short_establishments && short_establishments.length > 0">
        <ion-row>
          <ion-col
          size="12"
          size-md="6"
          *ngFor="let establishment of short_establishments">
            <ion-item
            [ngClass]="{ 'coming-soon': establishment.isBuilding }"
            (click)="seeEstablishment(establishment, $event)"
            [button]="true"
            [detailIcon]="''"
            class="establishment-horizontal-item"
            lines="none"
            mode="ios">
              <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="establishment.isPremium"></ion-icon>

              <div class="logo-wrapper">
                <div class="logo-container"
                  [ngClass]="{'has-image': !isLoadingLogo, 'logo-needs-gray-2' : establishment.value === 'galeteria-santista'}">
                    <ion-spinner name="lines-sharp-small" *ngIf="isLoadingLogo"></ion-spinner>

                    <ion-img
                    *ngIf="!isLoadingLogo"
                    (ionImgDidLoad)="imageHasLoaded()"
                    [src]="'./../../../../assets/images/establishments/' + establishment.value + (establishment.value === 'bistro-14' || establishment.value === 'galeteria-santista' || establishment.value === 'guadalupe' || establishment.value === 'vixe' || establishment.value === 'vila-tolentino'  ? '.png' : '.jpg')">
                    </ion-img>
                  </div>
              </div>

              <ion-text mode="ios" class="txt-left">
                <p class="color-gray-text txt-uppercase type font-w-thin type">
                  {{ establishment.mainType.text[currentLanguage.value] }}
                </p>
                <h2 class="color-gray-text font-baloo name fs-20"><b>{{ establishment.name }}</b></h2>
                <p class="number color-gray-text">n&ordm; {{ establishment.adress.number }}</p>
              </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col *ngIf="short_establishments && short_establishments.length === 0" size="12">
          <ion-text mode="ios">
            <p class="fs-14 color-gray-text font-w-thin">
              {{ 'SHARED.NO_RESULT_ESTABLISHMENTS' | translate }}.
            </p>
          </ion-text>
        </ion-col>

        <ng-container *ngIf="short_establishments && short_establishments.length > 0">
          <ion-col size="6">
            <div class="controls-wrapper" *ngIf="definitiveView === 'AS_SLIDE'">
              <ion-button
              [disabled]="hideLeftControl"
              (click)="slideToPrev()"
              mode="md"
              class="rgs-main-solid fs-14 mg-right-8"
              shape="round"
              title="">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>

              <ion-button
              [disabled]="hideRightControl"
              (click)="slideToNext()"
              mode="md"
              class="rgs-main-solid fs-14"
              shape="round"
              title="">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-text
            class="color-gray-text fs-13 line-height-20 txt-lowercase txt-right"
            mode="ios">
              <p><span class="fs-16 font-w-bold">{{ short_establishments.length }}</span> {{ 'SHARED.ESTABLISHMENTS' | translate }}<ng-container *ngIf="short_establishments.length > 1">s</ng-container></p>
            </ion-text>
          </ion-col>
        </ng-container>

        <ion-col size="12">
          <hr class="rgs-divider">
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-item lines="none" class="ion-bg-transparent item-title-w-icon">
            <ion-text
            class="txt-left color-gray-text full-width icon-title-text without-icon d-block mg-bottom-8 has-icon"
            mode="ios">
              <h2 class="font-baloo fs-20">
                <ion-icon name="hourglass-outline"></ion-icon>
                {{ 'INICIO_PAGE.SAVING_TIME_TITLE.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'INICIO_PAGE.SAVING_TIME_TITLE.1' | translate }}</span>
              </h2>

              <p class="fs-14 font-w-thin">
                {{ 'INICIO_PAGE.SAVING_TIME_TEXT' | translate }}:
              </p>
            </ion-text>
          </ion-item>

          <ion-grid class="no-pad-sides no-pad-top no-pad-bottom">
            <ion-row>
              <ion-col
              *ngFor="let info of lenghts_to_save_time; let i = index"
              size="6"
              size-sm="4">
                <ion-item
                [disabled]="info.list.length === 0"
                [detailIcon]="info.list.length ? 'chevron-forward-outline' : 'lock-closed-outline'"
                (click)="seeSpecficList(true, info)"
                [button]="true"
                size="12"
                lines="none"
                class="dashboard-item">
                  <ion-text mode="ios">
                    <p class="font-baloo length" [ngClass]="[ info.list.length ? 'color-green' : 'color-gray-6']">{{ info.list.length }}</p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length < 2">
                      {{ info.text[currentLanguage.value] }}
                    </p>
                    <p class="color-gray-text type fs-10 txt-uppercase" *ngIf="info.list.length > 1">
                      {{ info.plural[currentLanguage.value] }}
                    </p>
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col size="12" class="ion-hide-lg-up">
          <hr class="rgs-divider">
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-item lines="none" class="ion-bg-transparent item-title-w-icon">
            <ion-text
            class="txt-left color-gray-text full-width icon-title-text without-icon d-block mg-bottom-8 has-icon"
            mode="ios">
              <h2 class="font-baloo fs-20">
                <ion-icon name="trail-sign-outline"></ion-icon>
                {{ 'INICIO_PAGE.PARKING_TITLE.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'INICIO_PAGE.PARKING_TITLE.1' | translate }}</span>
              </h2>

              <p class="fs-14 font-w-thin">
                {{ 'INICIO_PAGE.PARKING_TEXT' | translate }}:
              </p>
            </ion-text>
          </ion-item>

          <ion-list
          *ngIf="short_parkings && short_parkings.length > 0"
          mode="ios"
          class="mg-top-8">
            <ion-item
            detail="false"
            lines="none"
            *ngFor="let parking of short_parkings"
            (click)="callParking(parking, $event)"
            [button]="parking.phone.ddd && parking.phone.number">
              <ion-text mode="ios" class="line-height-20">
                <p class="color-gray-6 fs-14 txt-uppercase">{{ parking.name }}</p>
                <p class="color-gray-6 fs-12 adress"><ion-icon name="location-outline"></ion-icon><ng-container *ngIf="currentLanguage.value !== 'en'">{{ parking.adress.type[currentLanguage.value] }}</ng-container> {{ parking.adress.street }} <ng-container *ngIf="currentLanguage.value === 'en'">{{ parking.adress.type[currentLanguage.value] }}</ng-container>, {{ parking.adress.number }}.</p>
              </ion-text>

              <ion-text  *ngIf="parking.phone.ddd && parking.phone.number" mode="ios" class="txt-right"  slot="end">
                <ion-chip mode="ios" class="main-solid-green txt-uppercase fs-10 small">
                  <ion-icon name="call" class="color-white"></ion-icon> {{ 'SHARED.CONTACT' | translate }}
                </ion-chip>
              </ion-text>
            </ion-item>
          </ion-list>

          <ion-text mode="ios" *ngIf="short_parkings && short_parkings.length === 0">
            <p class="fs-14 color-gray-text font-w-thin mg-top-16">
              {{ 'SHARED.NO_RESULT_PARKINGS' | translate }}.
            </p>
          </ion-text>

          <ion-skeleton-text animated="true" class="like-parking-item" *ngIf="!short_parkings"></ion-skeleton-text>
        </ion-col>

        <ion-col size="12">
          <hr class="rgs-divider">
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item lines="none" class="ion-bg-transparent item-title-w-icon">
            <ion-text
            class="txt-left color-gray-text full-width icon-title-text without-icon d-block mg-bottom-8 has-icon"
            mode="ios">
              <h2 class="font-baloo fs-20">
                <ion-icon name="chatbubbles-outline"></ion-icon>
                {{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK.0' | translate }} <span class="font-w-bold mg-left-5">{{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK.1' | translate }}</span>
              </h2>

              <p class="fs-14 font-w-thin">
                {{ 'INICIO_PAGE.FEEDBACK.GIVE_YOUR_FEEDBACK_TEXT' | translate }}
              </p>

              <p class="fs-14 mg-top-16">
                <a href="javascript:void(0)" [routerLink]="['/contato']" [title]="'INICIO_PAGE.FEEDBACK.SEND_FEEDBACK' | translate" class="send-feedback">{{ 'INICIO_PAGE.FEEDBACK.SEND_FEEDBACK' | translate }} <ion-icon name="arrow-forward"></ion-icon></a>
              </p>
            </ion-text>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item
          lines="none"
          mode="ios"
          class="simulate-bootstrap-alert warning line-height-18">
            <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" slot="start"></ion-icon>

            <ion-text mode="ios" class="color-bootstrap-warning">
              <p class="fs-12 mg-bottom-8">{{ 'INICIO_PAGE.VERIFIED.TITLE' | translate }}</p>
              <p class="fs-14">{{ 'INICIO_PAGE.VERIFIED.TEXT.0' | translate }} <b>{{ 'INICIO_PAGE.VERIFIED.TEXT.1' | translate }}</b> {{ 'INICIO_PAGE.VERIFIED.TEXT.2' | translate }}.</p>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <rgs-adsense>
      <div adsense class="txt-center full-width full-height">
        <script
        async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1158629671776524"
        crossorigin="anonymous">
        </script>

        <!--rgs-inicio-top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1158629671776524"
        data-ad-slot="7416407934"
        data-ad-format="auto"
        data-full-width-responsive="true">
        </ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </rgs-adsense>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <div class="scroll-to-top full-width">
            <ion-button
            (click)="scrollToTop()"
            size="small"
            shape="round"
            [title]="('SHARED.BACK_TO_TOP.0' | translate) + ' ' + ('SHARED.BACK_TO_TOP.1' | translate)"
            fill="solid"
            class="rgs-main-solid mg-bottom-16 mg-top-16 fs-14">
              {{ 'SHARED.BACK_TO_TOP.0' | translate }} <b class="mg-left-5">{{ 'SHARED.BACK_TO_TOP.1' | translate }}</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12">
          <rgs-made-w-love [centered]="true"></rgs-made-w-love>
        </ion-col>

        <ion-col size="12" class="no-pad-top">
          <rgs-social-networks [centered]="true"></rgs-social-networks>
        </ion-col>

        <ion-col size="12" class="mg-bottom-16">
          <rgs-copyright></rgs-copyright>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>


<!-- MODAL COM LISTA DE ESTABELECIMENTOS -->
<ion-modal
[initialBreakpoint]=".99"
[breakpoints]="[.99]"
id="specific-list-modal"
class="specfic-list-modal"
(ionModalDidDismiss)="modalHasDismissed($event)"
[isOpen]="showSpecificList"
mode="md">
  <ng-template>
    <ion-content
    [forceOverscroll]="false">
      <section class="specific-list-section">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <ion-text mode="ios" class="color-gray-text txt-center line-height-20">
                <!-- LISTA DE -->
                <p class="fs-10 txt-uppercase color-gray-6" *ngIf="currentLanguage.value === 'pt' || currentLanguage.value === 'es'">{{ 'SHARED.LIST_OF' | translate }}</p>
                <h2 class="mg-bottom-8 font-w-bold fs-32 font-baloo" *ngIf="selectedInfo?.list.length < 2">{{ selectedInfo?.text[currentLanguage.value] }}</h2>
                <h2 class="mg-bottom-8 font-w-bold fs-32 font-baloo" *ngIf="selectedInfo?.list.length > 2">{{ selectedInfo?.plural[currentLanguage.value] }}</h2>
                <p class="fs-10 txt-uppercase color-gray-6 negative-mg" *ngIf="currentLanguage.value === 'en'">{{ 'SHARED.LIST_OF' | translate }}</p>
              </ion-text>
            </ion-col>

            <ion-col
            size="12"
            *ngFor="let establishment of selectedInfo?.list">
              <ion-item
              [ngClass]="{ 'coming-soon': establishment.isBuilding }"
              (click)="seeEstablishmentFromModal(establishment, $event)"
              [button]="true"
              [detailIcon]="''"
              class="establishment-horizontal-item"
              lines="none"
              mode="ios">
                <ion-icon src="./../../../../assets/icon/verified-check.svg" class="verified" *ngIf="establishment.isPremium"></ion-icon>

                <div class="logo-wrapper">
                  <div class="logo-container"
                    [ngClass]="{'has-image': !isLoadingLogo, 'logo-needs-gray-2' : establishment.value === 'galeteria-santista'}">
                      <ion-spinner name="lines-sharp-small" *ngIf="isLoadingLogo"></ion-spinner>

                      <ion-img
                      *ngIf="!isLoadingLogo"
                      (ionImgDidLoad)="imageHasLoaded()"
                      [src]="'./../../../../assets/images/establishments/' + establishment.value + (establishment.value === 'bistro-14' || establishment.value === 'galeteria-santista' || establishment.value === 'guadalupe' || establishment.value === 'vixe' || establishment.value === 'vila-tolentino' ? '.png' : '.jpg')">
                      </ion-img>
                    </div>
                </div>

                <ion-text mode="ios" class="txt-left">
                  <p class="color-gray-text txt-uppercase type font-w-thin type">
                    {{ establishment.mainType.text[currentLanguage.value] }}
                  </p>
                  <h2 class="color-gray-text font-baloo name fs-20"><b>{{ establishment.name }}</b></h2>
                  <p class="number color-gray-text">n&ordm; {{ establishment.adress.number }}</p>
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </section>
    </ion-content>

    <ion-footer mode="ios" class="ion-no-border">
      <ion-toolbar mode="ios" class="ion-bg-gray-ed">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-button
              mode="md"
              shape="round"
              (click)="closeModal()"
              class="rgs-main-solid fs-14 txt-lowercase full-width close-modal-btn"
              [title]="'Fechar'"
              fill="solid">
                <span class="mg-right-5">{{ 'SHARED.CLOSE_MODAL' | translate }}</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
