
<ion-header mode="ios" class="bg-white ion-no-border" id="estabelecimento-header">
  <ion-toolbar mode="ios" class="ion-bg-white">
    <div class="menu">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-button
            mode="ios"
            (click)="back()"
            class="back ion-color-gray-text back-btn no-ion-padding"
            title="Voltar"
            fill="clear">
              <ion-icon name="chevron-back-outline"></ion-icon> <span class="font-w-thin mg-left-5">sobre o <b>estabelecimento</b></span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
#establishmentContent
[forceOverscroll]="false"
[scrollEvents]="true"
[fullscreen]="true"
(ionScroll)="hideToolbar($event)">
  <section class="estabelecimento-wrapper" *ngIf="establishment.value">
    <div class="hero-wrapper">
      <div class="logo-wrapper">
        <ion-img [src]="'./../../../../assets/images/establishments/' + establishment.value + '.jpg'"></ion-img>
      </div>
    </div>

    <div class="estabelecimento-content">
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12">
            <ion-text mode="ios" class="txt-center">
              <p class="fs-10 txt-uppercase color-gray-6">{{ establishment.mainType }}</p>
              <h1 class="color-gray-text font-baloo fs-32 nome"><b>{{ establishment.name }}</b></h1>
            </ion-text>

            <div class="go-with-waze">
              <ion-text mode="ios" class="txt-center">
                <p class="color-gray-text fs-14">
                  <ng-container *ngIf="currentLanguage?.value === 'pt'">R. {{ establishment.adress.street }}</ng-container>
                  <ng-container *ngIf="currentLanguage?.value === 'en'">{{ establishment.adress.street }} St.</ng-container>
                  <ng-container *ngIf="currentLanguage?.value === 'es'">C. {{ establishment.adress.street }}</ng-container>, n&ordm; {{ establishment.adress.number }}
                </p>
                <p class="color-gray-text fs-14">{{ establishment.adress.zip_code }} - {{ establishment.adress.neighborhood }}</p>
              </ion-text>

              <ion-button
              class="copy-btn"
              title="Copiar"
              mode="ios"
              fill="clear"
              (click)="goWithWaze()">
                <ion-icon name="copy-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="12">
            <div class="buttons-wrapper">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="txt-center">
                    <ion-button
                    mode="md"
                    shape="round"
                    title="Chamar no WhatsApp"
                    fill="solid"
                    class="rgs-main-solid linkt-btn">
                      <ion-icon name="logo-whatsapp" class="mg-right-5"></ion-icon> chamar no <b class="mg-left-5">WhatsApp</b>
                    </ion-button>
                  </ion-col>

                  <ion-col size="12" class="txt-center">
                    <ion-button
                    mode="md"
                    shape="round"
                    title="Acessar cardápio"
                    fill="solid"
                    class="rgs-white-solid linkt-btn">
                      <ion-icon name="receipt-outline" class="mg-right-8"></ion-icon> acessar <b class="mg-left-5">cardápio</b>
                    </ion-button>
                  </ion-col>

                  <ion-col size="12" class="txt-center">
                    <ion-button
                    mode="md"
                    shape="round"
                    title="Ver no instagran"
                    fill="solid"
                    class="rgs-white-solid linkt-btn">
                      <ion-icon name="logo-instagram" class="mg-right-8"></ion-icon> ver <b class="mg-left-5">no instagram</b>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>

          <ion-col size="12" class="mg-top-32">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <!-- TICKETS -->
          <ion-col size="12" *ngIf="establishment.ticket_info.show_field">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="card-outline" slot="start"></ion-icon>

              <ion-text mode="ios" class="line-height-18">
                <p class="color-gray-text mg-left-16">Além das formas tradicionais de pagamento, aceitam <b class="color-green">vale refeição</b>.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8"><ng-container *ngFor="let ticket of establishment.ticket_info.tickets">{{ ticket.text }}</ng-container></p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <!-- TICKETS -->
          <ion-col size="12" *ngIf="establishment.petfriendly_info.show_field && establishment.petfriendly_info.accept_petfriendly">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="paw-outline" slot="start"></ion-icon>

              <ion-text mode="ios" class="line-height-18">
                <p class="color-gray-text mg-left-16">Pode trazer <b class="color-green">seu bichinho</b>.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8">Pet friendly.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <!-- LIVE MUSIC -->
          <ion-col size="12" *ngIf="establishment.livemusic_info.has_livemusic && establishment.livemusic_info.show_field">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="musical-notes-outline" slot="start"></ion-icon>

              <ion-text mode="ios">
                <p class="color-gray-text mg-left-16">Tem show <b class="color-green">ao vivo</b>.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8">Recomendamos que visite o insta do estabelecimento para ver a programação do dia.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <!-- LIVE MUSIC -->
          <ion-col size="12" *ngIf="establishment.air_conditioned_info.has_air_conditioned && establishment.air_conditioned_info.show_field">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="snow-outline" slot="start"></ion-icon>

              <ion-text mode="ios">
                <p class="color-gray-text mg-left-16">Possui <b class="color-green">ambiente climatizado</b>.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8">Consulte com o estabelecimento para mais detalhes</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <!-- BOOKING -->
          <ion-col size="12" *ngIf="establishment.booking_info.accept_booking && establishment.booking_info.show_field">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="book-outline" slot="start"></ion-icon>

              <ion-text mode="ios">
                <p class="color-gray-text mg-left-16">Economize tempo, faça uma <b class="color-green">reserva</b>.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8">Entre em contato pelo botão do WhatsApp.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <ion-item mode="ios" lines="none" class="establishment-item">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>

              <ion-text mode="ios">
                <p class="color-gray-text mg-left-16">Horário de funcionamento.</p>
                <p class="color-gray-6 mg-left-16 fs-14 mg-top-8">Dizemos que um restaurante está aberto ou fechado com base nos horários abaixo.</p>
              </ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-card mode="ios" class="working">
              <ion-card-content>
                <ion-item mode="ios" *ngFor="let time of establishment.working_time; let last = last" [lines]="last ? 'none' : 'full'">
                  <ion-text mode="ios" [ngClass]="{'is-today font-w-bold': time.day_number === todayAsDayNumber}">
                    <p class="fs-14 color-gray-16 day-name">{{ time.text }}</p>
                    <!-- HOJE -->
                    <ion-chip *ngIf="time.day_number === todayAsDayNumber" class="main-solid-gray fs-10 txt-uppercase small">Hoje</ion-chip>
                  </ion-text>

                  <ion-text mode="ios" slot="end" [ngClass]="{'is-today font-w-bold': time.day_number === todayAsDayNumber}">
                    <p class="fs-18 color-gray-text" *ngFor="let hour of time.opening_time">{{ hour.open }} às {{hour.close }}</p>
                  </ion-text>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12">
            <ion-text mode="ios">
              <hr class="rgs-divider">
            </ion-text>
          </ion-col>

          <ion-col size="12">
            <div class="scroll-to-top full-width">
              <ion-button
              (click)="scrollToTop()"
              size="small"
              shape="round"
              title="Voltar para cima"
              fill="clear"
              class="rgs-main-solid mg-bottom-16 fs-14">
                voltar <b class="mg-left-5">para cima</b> <ion-icon name="chevron-up-outline" class="mg-left-5"></ion-icon>
              </ion-button>
            </div>
          </ion-col>

          <ion-col size="12">
            <rgs-made-w-love [centered]="true"></rgs-made-w-love>
          </ion-col>

          <ion-col size="12" class="no-pad-top">
            <rgs-social-networks [socialNetworks]="socialNetworks" [centered]="true"></rgs-social-networks>
          </ion-col>

          <ion-col size="12" class="mg-bottom-16">
            <rgs-copyright></rgs-copyright>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>
